.container {
    width: 90%;
    margin: 1rem auto;
    min-height: 80vh;
    background:
        linear-gradient(rgb(24, 30, 57),
            rgb(24, 30, 57));
    border-radius: 10px;
    color: #ababab;
}

.title {
    text-align: center;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 2.5rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    // margin: 0.3rem;

    td:nth-child(2) {
        text-align: left;
    }

    td,
    th {
        border: 1.5px solid #565656;
    }

    th {
        font-size: 1.2rem;
    }

    td {
        font-size: 1rem;
        padding: 0.2rem 0.4rem;
    }

    tr:nth-child(even) {
        background-color: lighten(rgb(24, 30, 57), 15%);
    }

    tr:hover {
        background-color: #aaa;
        color: black;
    }
}

.btn {
    background-color: #d32f2f;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover {
        background-color: #ef9a9a;
        transform: scale(1.2);
        cursor: pointer;
        color: #b71c1c;
        border-color: #b71c1c;
    }
}